@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
html {
  background-color: #00000f;
  font-size: 0.8rem;
  color: #eee;
  font-family: 'Fira Code', monospace;
  letter-spacing: -0.4px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: 7.5px 0;
  width: 100%;
}

[type='range']::-moz-focus-outer {
  border: 0;
}

[type='range']:focus {
  outline: 0;
}

[type='range']:focus::-webkit-slider-runnable-track {
  background: white;
}

[type='range']:focus::-ms-fill-lower {
  background: #eceff1;
}

[type='range']:focus::-ms-fill-upper {
  background: white;
}

[type='range']::-webkit-slider-runnable-track {
  cursor: default;
  height: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #eceff1;
  border: 1px solid #837575;
  border-radius: 2px;
}

[type='range']::-webkit-slider-thumb {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 2px rgba(13, 13, 13, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 2px rgba(13, 13, 13, 0.2);
  background: #333;
  border: 1px solid #837575;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  height: 15px;
  width: 8px;
  -webkit-appearance: none;
  margin-top: -7px;
}

[type='range']::-moz-range-track {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  cursor: default;
  height: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: #eceff1;
  border: 1px solid #837575;
  border-radius: 2px;
  height: 1.5px;
}

[type='range']::-moz-range-thumb {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 2px rgba(13, 13, 13, 0.2);
  background: #333;
  border: 1px solid #837575;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  height: 15px;
  width: 8px;
}

[type='range']::-ms-track {
  cursor: default;
  height: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 7.5px 0;
  color: transparent;
}

[type='range']::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #cfd6db;
  border: 1px solid #837575;
  border-radius: 4px;
}

[type='range']::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #eceff1;
  border: 1px solid #837575;
  border-radius: 4px;
}

[type='range']::-ms-thumb {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 2px rgba(13, 13, 13, 0.2);
  background: #333;
  border: 1px solid #837575;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  height: 15px;
  width: 8px;
  margin-top: 0.75px;
}

[type='range']:disabled::-webkit-slider-thumb, [type='range']:disabled::-moz-range-thumb, [type='range']:disabled::-ms-thumb, [type='range']:disabled::-webkit-slider-runnable-track, [type='range']:disabled::-ms-fill-lower, [type='range']:disabled::-ms-fill-upper {
  cursor: not-allowed;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .btnFullscreen {
  position: absolute;
  right: 2.5rem;
  top: 0.5rem;
}

.container video {
  width: 100%;
  position: relative;
}

.container h1 {
  position: absolute;
  text-align: center;
  background: transparent;
  font-size: 1rem;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  height: 1.5rem;
  width: 80%;
  z-index: 10000;
  opacity: 0;
  cursor: default;
}

.container h1 i {
  font-size: 1.8rem;
  color: rgba(184, 182, 182, 0.332);
}

.container h1:hover {
  opacity: 0.6;
}

.container .timeCur,
.container .timeVideo {
  opacity: 0.5;
}

.container .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 1px;
  position: absolute;
  bottom: 20px;
  width: 85%;
  -ms-grid-row-align: center;
      align-self: center;
}

.container .options .grid-2 {
  -ms-grid-column-align: start;
      justify-self: start;
}

.container .options .grid-2 .btnPlay,
.container .options .grid-2 .btnPause {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.container .options .grid-2 .btnPlay:before,
.container .options .grid-2 .btnPause:before {
  content: '';
  background-color: aliceblue;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0.001, 0.001);
          transform: scale(0.001, 0.001);
}

.container .options .grid-2 .btnPlay:before,
.container .options .grid-2 .btnPause:before {
  -webkit-animation: effect_dylan 0.8s ease-out;
          animation: effect_dylan 0.8s ease-out;
}

.container .options i {
  font-size: 1.8rem;
  color: rgba(184, 182, 182, 0.332);
}

.container .options .grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  position: relative;
}

.container .options .grid-3 .times {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .options .grid-3 #setingsVideo {
  -ms-grid-column-align: end;
      justify-self: end;
  height: 30px;
}

.container .options .grid-3 #setingsVideo:active {
  -webkit-animation: roll 0.2s ease-in-out;
          animation: roll 0.2s ease-in-out;
}

.container .options .grid-3 .setingsVideo-box {
  position: absolute;
  bottom: 135%;
  right: 12%;
  border: 2px solid #00000f;
  padding: 0.5rem;
  background-color: #00000f49;
}

.container .options .grid-3 .setingsVideo-box i {
  padding: 0.3rem;
}

.container .options .grid-3 .setingsVideo-box .soundBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .options .grid-3 .setingsVideo-box .speedBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .options .grid-3 .false {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(204, 0, 0, 0.257);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .options .grid-3 .fa-volume-up:hover .volumeBar {
  opacity: 0.5;
}

.container .options .grid-3 .true {
  background: transparent;
}

.container a {
  color: rgba(184, 182, 182, 0.332);
}

.container i {
  font-size: 1.3rem;
  color: rgba(184, 182, 182, 0.167);
  cursor: pointer;
}

.container i:hover {
  color: rgba(184, 182, 182, 0.69);
}

.container a:hover {
  color: #0909756e;
}

.options > * {
  padding: 0 2px;
}

progress {
  position: relative;
  width: 85%;
  height: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  opacity: 0.2;
  padding: 0 10px;
}

.hidden {
  display: none;
}

@-webkit-keyframes roll {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roll {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes effect_dylan {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

@keyframes effect_dylan {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */