@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$font-color: #eee;
$background-color: #00000f;
$track-color: #ffffff;
$thumb-color: rgb(7, 0, 0);
$thumb-border-color: #ffffff;
$track-border-color: #ffffff;

$font-size: 1.5rem;
$thumb-height: 10px;
$thumb-width: 5px;
$thumb-border-width: 1px;
$track-width: 100%;
$track-height: 5px;
$contrast: 10%;

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all 0.2s ease;
  width: $track-width;
}

@mixin thumb {
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

html {
  background-color: $background-color;
  font-size: $font-size;
  color: $font-color;
  font-family: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

//Sound bar custom style
[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;

    &::-ms-fill-lower {
      background: $track-color;
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    background: $track-color;
    border: $thumb-border-width solid $thumb-color;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-1px * 2 + $track-height) / 2 - $thumb-height / 2);
  }
}

i {
  color: rgba(184, 182, 182, 0.653);
  font-size: 0.7rem;
}

i:hover {
  color: rgba(69, 66, 66, 0.83);
}

.container {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;

  .video-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .btnFullscreen {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0.5rem;
      top: 0.5rem;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:active {
        animation: effect_dylan 0.2s ease-in-out;
      }
    }

    video {
      width: 100%;
      position: relative;
    }

    .timeCur {
      border-right: 2px solid #fff;
    }

    .options {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 20px;
      padding-bottom: 25px;
      position: absolute;
      bottom: 0;
      width: 100%;
      align-self: center;
      border: 2px solid #00000f;
      background-color: #00000fb8;
      transition: 0.3s all ease;

      .grid-1 {
        justify-self: start;
        align-self: center;

        .btnPlay,
        .btnPause {
          position: relative;
          cursor: pointer;
          transition: all 0.4s ease-in;

          &::after {
            content: '';
            background-color: aliceblue;
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: scale(0.001, 0.001);
          }

          &:active {
            outline: 0;
            color: #fff;
            &::after {
              animation: effect_dylan 0.2s ease-out;
            }
          }
        }
      }

      .grid-2 {
        display: flex;
        justify-content: flex-end;
        position: relative;
        align-items: center;

        .times {
          justify-self: end;
          display: flex;
          flex-direction: row-reverse;
          align-items: flex-end;
          font-size: 0.3rem;

          .timeVideo,
          .timeCur {
            cursor: default;
            padding: 0.1rem;
            opacity: 0.5;
          }
        }

        .setingsVideo {
          cursor: pointer;
          transition: all 0.2s ease-in;
          padding: 0.2rem;
        }

        .setingsVideo:active {
          animation: roll 0.2s ease-in-out;
        }

        .setingsVideo-box {
          position: absolute;
          bottom: 135%;
          right: 10%;
          padding: 0.2rem;
          animation: fadeIn 0.2s ease;
          transition: all ease 2s;

          .speedBar {
            display: flex;
            flex-direction: row-reverse;
            border: 1px solid #00000f;
            border-top: none;
            background-color: #00000f49;

            i {
              padding: 0.3rem;
            }
          }
        }

        .soundBar {
          display: flex;
          flex-direction: row-reverse;
          position: relative;

          &:hover input {
            visibility: visible;
          }

          input {
            position: absolute;
            bottom: 40px;
            right: -10px;
            width: 50px;
            visibility: hidden;
            transition: 0.2s ease all;
            transform: rotate(-90deg);
          }
        }

        .false {
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(204, 0, 0, 0.257);
          flex-direction: column;
        }

        .fa-volume-up:hover {
          .volumeBar {
            opacity: 0.5;
          }
        }

        .true {
          background: transparent;
        }
      }
    }
  }

  .options > * {
    padding: 0 2px;
  }

  progress {
    position: absolute;
    width: 100%;
    height: 25px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    bottom: 0;
    z-index: 10;
    padding: 0 10px;
  }

  .hidden {
    display: none;
  }
}

.hoverVideoControls {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -100%;
  }

  100% {
    opacity: 1;
    bottom: 3rem;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
