@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
html {
  background-color: #00000f;
  font-size: 1.5rem;
  color: #eee;
  font-family: 'Fira Code', monospace;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: 5px 0;
  width: 100%;
}

[type='range']::-moz-focus-outer {
  border: 0;
}

[type='range']:focus {
  outline: 0;
}

[type='range']:focus::-ms-fill-lower {
  background: #ffffff;
}

[type='range']::-webkit-slider-runnable-track {
  cursor: default;
  height: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  background: #ffffff;
  border: 1px solid #070000;
}

[type='range']::-webkit-slider-thumb {
  background: #070000;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  height: 10px;
  width: 5px;
  -webkit-appearance: none;
  margin-top: -3.5px;
}

i {
  color: rgba(184, 182, 182, 0.653);
  font-size: 1rem;
}

i:hover {
  color: rgba(69, 66, 66, 0.83);
}

.container {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .video-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .video-container .btnFullscreen {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.container .video-container .btnFullscreen:active {
  -webkit-animation: effect_dylan 0.2s ease-in-out;
          animation: effect_dylan 0.2s ease-in-out;
}

.container .video-container video {
  width: 100%;
  position: relative;
}

.container .video-container .timeCur {
  border-right: 2px solid #fff;
}

.container .video-container .timeCur,
.container .video-container .timeVideo {
  opacity: 0.5;
  padding: 0 0.5rem;
}

.container .video-container .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding-bottom: 25px;
  position: absolute;
  bottom: 20px;
  width: 95%;
  -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid #00000f;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.container .video-container .options .grid-1 {
  -ms-grid-column-align: start;
      justify-self: start;
}

.container .video-container .options .grid-1 .btnPlay,
.container .video-container .options .grid-1 .btnPause {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.container .video-container .options .grid-1 .btnPlay::after,
.container .video-container .options .grid-1 .btnPause::after {
  content: '';
  background-color: aliceblue;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0.001, 0.001);
          transform: scale(0.001, 0.001);
}

.container .video-container .options .grid-1 .btnPlay:active,
.container .video-container .options .grid-1 .btnPause:active {
  outline: 0;
  color: #fff;
}

.container .video-container .options .grid-1 .btnPlay:active::after,
.container .video-container .options .grid-1 .btnPause:active::after {
  -webkit-animation: effect_dylan 0.2s ease-out;
          animation: effect_dylan 0.2s ease-out;
}

.container .video-container .options .grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  position: relative;
}

.container .video-container .options .grid-2 .times {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.8rem;
}

.container .video-container .options .grid-2 .times .timeVideo,
.container .video-container .options .grid-2 .times .timeCur {
  cursor: default;
}

.container .video-container .options .grid-2 .setingsVideo {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.container .video-container .options .grid-2 .setingsVideo:active {
  -webkit-animation: roll 0.2s ease-in-out;
          animation: roll 0.2s ease-in-out;
}

.container .video-container .options .grid-2 .setingsVideo-box {
  position: absolute;
  bottom: 135%;
  right: 12%;
  padding: 0.2rem;
  -webkit-animation: fadeIn 0.2s ease;
          animation: fadeIn 0.2s ease;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
}

.container .video-container .options .grid-2 .setingsVideo-box .soundBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border: 1px solid #00000f;
  background-color: #00000f49;
}

.container .video-container .options .grid-2 .setingsVideo-box .soundBar i {
  padding: 0.3rem;
  font-size: 1rem;
}

.container .video-container .options .grid-2 .setingsVideo-box .speedBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border: 1px solid #00000f;
  border-top: none;
  background-color: #00000f49;
}

.container .video-container .options .grid-2 .setingsVideo-box .speedBar i {
  padding: 0.3rem;
}

.container .video-container .options .grid-2 .false {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(204, 0, 0, 0.257);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .video-container .options .grid-2 .fa-volume-up:hover .volumeBar {
  opacity: 0.5;
}

.container .video-container .options .grid-2 .true {
  background: transparent;
}

.container .options > * {
  padding: 0 2px;
}

.container progress {
  position: absolute;
  width: 100%;
  height: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  bottom: 0;
  z-index: 10;
  padding: 0 10px;
}

.container .hidden {
  display: none;
}

.hoverVideoControls {
  opacity: 0;
}

.hoverVideoControls:hover {
  opacity: 1;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
}

@-webkit-keyframes effect_dylan {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

@keyframes effect_dylan {
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: 3rem;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */